:root {
    --c1: #A25936;
    --c2: #374457;
    --c3: #4D3545;
    --c4: #293D3C;
    --c5: #8E3B35;
    --c6: #65363E;
    --c7: #64323B;
    --c8: #624439;
    --c9: #20252B;
    --c10: #DA7F2E;
    --c11: #4E5241;
    --c12: #954A51;
    --c13: #6A3B2B;
    --c14: #322D27;
    --c15: #4D4240;
    --c16: #411610;
    --c17: #652023;
    --c18: #7B3E2B;

    --c20: #6A707C;
    --c21: #A1A4B3;
    --c22: #9D7D6E;
    --c23: #9E768E;
    --c24: #E29DAF;
    --c25: #84505C;
    --c26: #80B2B9;
    --c27: #5C8A7D;
    --c28: #839795;
    --c29: #DAB7A4;
    --c30: #E9E7AC;
    --c31: #D07587;
    --c32: #96676F;
    --c33: #A3AF97;
    --c34: #627BA3;
    --c35: #856D9F;
    --c36: #AD7FA6;
    --c37: #D3B2D1;


    --c40: #622601;
    --c41: #135F5B;
    --c42: #64C0B5;
    --c43: #142E2F;
    --c44: #DF550A;
    --c45: #AD4005;
    --c46: #AB241E;
    --c47: #D58B22;
    --c48: #824504;
    --c49: #184405;
    --c50: #3A9118;
    --c51: #18AD6B;
    --c52: #0E5640;
    --c53: #DA1F10;
    --c54: #FD432C;
    --c55: #FE7000;
    --c56: #BE3803;
    --c57: #FFCF03;


    --c60: #A262D2;
    --c61: #C67ECA;
    --c62: #E5B6C0;
    --c63: #E4ADD4;
    --c64: #B9D799;
    --c65: #7CD67F;
    --c66: #B2BEE8;
    --c67: #A6D8E3;
    --c68: #7374DF;
    --c69: #FFB2E8;
    --c70: #CC4B8C;
    --c71: #97EECC;
    --c72: #A9CA61;
    --c73: #BACDD1;
    --c74: #E9F27B;
    --c75: #C0C6AC;
    --c76: #89B8FE;
    --c77: #7AAAD2;


    --c80: #211C3A;
    --c81: #020204;
    --c82: #4C3853;
    --c83: #5D3243;
    --c84: #3B2235;
    --c85: #3D4956;
    --c86: #3F595A;
    --c87: #1F2C32;
    --c88: #3B3541;
    --c89: #373C3F;
    --c90: #6E5170;
    --c91: #42404D;
    --c92: #312332;
    --c93: #573943;
    --c94: #302D3E;
    --c95: #C6929E;
    --c96: #AB6074;
    --c97: #653A4E;


    --c100: #D8A48C;
    --c101: #FEAFB2;
    --c102: #F1897C;
    --c103: #D5A269;
    --c104: #B75E3E;
    --c105: #AAB094;
    --c106: #557781;
    --c107: #DFA858;
    --c108: #CD604B;
    --c109: #E4DF81;
    --c110: #96915A;
    --c111: #FAA878;
    --c112: #A06D52;
    --c113: #A1877A;
    --c114: #BB5151;
    --c115: #88313A;
    --c116: #FF4747;
    --c117: #683E32;


    --c120: #FFF361;
    --c121: #FFD500;
    --c122: #FDB427;
    --c123: #FF7000;
    --c124: #B3FBE7;
    --c125: #70E7CB;
    --c126: #2DADA8;
    --c127: #01717C;
    --c128: #1F7960;
    --c129: #037827;
    --c130: #669410;
    --c131: #A7D31A;
    --c132: #D7CF00;
    --c133: #EBBE03;
    --c134: #FE9D1B;
    --c135: #FF4014;
    --c136: #FF252B;
    --c137: #D41F0C;


    --c140: #8A1D46;
    --c141: #DF3574;
    --c142: #002F25;
    --c143: #02735F;
    --c144: #242373;
    --c145: #0E0C32;
    --c146: #732887;
    --c147: #0F411E;
    --c148: #560C25;
    --c149: #3E1B55;
    --c150: #2F5435;
    --c151: #CFDA00;
    --c152: #501C3A;
    --c153: #00689F;
    --c154: #071424;
    --c155: #CE4C96;
    --c156: #CE2045;
    --c157: #3927CB;
}
